doctype html
html(lang='en')
  head
    title title here
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css', rel='stylesheet')
    link(href='/css/application.css', rel='stylesheet')
  body
    #header.section.section--header
      .left-info-panel
        img.brand-logo(src='http://placehold.it/500x100')
        h2.headline
          | Challenge kids to empower themselves and become creators and innovators.
        h3.sub-headline
          | Dinoby is a innovative game that teaches kids how to code through an interactive experience.
        button.button.button--fill.preorder-button
          | preorder
        .apps-container
          img.app-image(src='assets/ios_app.png')
          img.app-image(src='assets/android_app.png')
      img.header-image(src='http://placehold.it/500x600')
    #features.section.section--features
      h1.headline
        | Features
      .features-container
        .feature-images
          img#feature1-img.feature-image.feature-img-hidden(src='http://placehold.it/400x500/ff0000/ffffff')
          img#feature2-img.feature-image.feature-img-hidden(src='http://placehold.it/400x500/00ffff/ffffff')
          img#feature3-img.feature-image.feature-img-hidden(src='http://placehold.it/400x500/ff00ff/ffffff')
          img#feature4-img.feature-image.feature-img-hidden(src='http://placehold.it/400x500/0000ff/ffffff')
        .feature-info-container
          #feature1-info.feature-info.feature-info-hidden
            h1.feature-info-headline
              | Feature 1
            p.feature-info-p
              | Blabla sist amet holis asdasd lorem ipsum muito giladita Blabla sist amet holis asdasd lorem ipsum muito giladita Blabla sist amet holis asdasd lorem ipsum muito giladita
          #feature2-info.feature-info.feature-info-hidden
            h1.feature-info-headline
              | Feature 2
            p.feature-info-p
              | Blabla sist amet holis asdasd lorem ipsum muito giladita Blabla sist amet holis asdasd lorem ipsum muito giladita Blabla sist amet holis asdasd lorem ipsum muito giladita
          #feature3-info.feature-info.feature-info-hidden
            h1.feature-info-headline
              | Feature 3
            p.feature-info-p
              | Blabla sist amet holis asdasd lorem ipsum muito giladita Blabla sist amet holis asdasd lorem ipsum muito giladita Blabla sist amet holis asdasd lorem ipsum muito giladita
          #feature4-info.feature-info.feature-info-hidden
            h1.feature-info-headline
              | Feature 4
            p.feature-info-p
              | Blabla sist amet holis asdasd lorem ipsum muito giladita Blabla sist amet holis asdasd lorem ipsum muito giladita Blabla sist amet holis asdasd lorem ipsum muito giladita
                          
            
    #reasons.section.section--reasons
    #preorder.section.section--preorder
      .preorder-content
      .footer
    // inject:js
    // endinject
