doctype html
html(lang='en')
  head
    title Dinoby
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon" type="image/png" href="assets/favicon.png")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(href='/css/vendor.css', rel='stylesheet')
    link(href='/css/application.css', rel='stylesheet')
  body
    nav.navbar.navbar-fixed-top(role="navigation")
      .navbar-header
        a.nav-link(href="#header")
          img.navbar-img(src='assets/logo_header.png')
        button.navbar-toggle(data-target=".navbar-collapse" data-toggle="collapse" type="button")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a.nav-link(href="#header")
              | Home
          li
            a.nav-link(href="#features")
              | About
          li
            a.nav-link(href="#reasons")
              | Education
          li
            a.nav-link.special(href="#preorder" target="_blank")
              | PRE-ORDER
    #header.section.section--header
      .section--content
        .left-info-panel
          img.brand-logo(src='assets/logo_seccion1.png')
          h2.header-headline
            | Challenge kids to empower themselves and become creators and innovators.
          h3.header-sub-headline
            | Dinoby is a innovative game that teaches kids how to code through an interactive experience.
          button.button.button--fill.preorder-button.js-preorder-button
            | pre-order
          .apps-container
            img.app-image(src='assets/appstore_badge.png')
            img.app-image(src='assets/googleplay_badge.png')
        img.header-image(src='assets/tabla.png')
    #features.section.section--features.section--common.section--top-decoration
      .section--content
        h1.headline
          | How it works
        .features-container.section-content--common
          .feature-images
            img#feature1-img.feature-image(src='http://placehold.it/400x500/ff0000/ffffff')
          .feature-info-container
            #feature1-info.feature-info
              h1.feature-info-headline
                | 01.
              p.feature-info-p
                | Learn the basics of coding by helping Dino on the first mission
    .section.section--features.section--common.section--top-decoration
      .section--content
        h1.headline
          | How it works
        .features-container.section-content--common
          .feature-images
            img#feature2-img.feature-image(src='http://placehold.it/400x500/00ffff/ffffff')
          .feature-info-container
            #feature2-info.feature-info
              h1.feature-info-headline
                | 02.
              p.feature-info-p
                | Place the tokens in the playground to build Dino's virtual world
    .section.section--features.section--common.section--top-decoration
      .section--content
        h1.headline
          | How it works
        .features-container.section-content--common
          .feature-images
            img#feature3-img.feature-image(src='http://placehold.it/400x500/ff00ff/ffffff')
          .feature-info-container
            #feature3-info.feature-info
              h1.feature-info-headline
                | 03.
              p.feature-info-p
                | Use your programming skills and help Dino to reach the goal
    .section.section--features.section--common.section--top-decoration
      .section--content
        h1.headline
          | How it works
        .features-container.section-content--common
          .feature-images
            img#feature4-img.feature-image(src='http://placehold.it/400x500/0000ff/ffffff')
          .feature-info-container
            #feature4-info.feature-info
              h1.feature-info-headline
                | 04.
              p.feature-info-p
                | Run your code and bring Dino to life with Augmented Reality


    #reasons.section.section--reasons.section--common
      .section--content
        h1.headline
          | Why teach your kids to code?
        .reasons-container.section-content--common
          .info-container
            p.reasons-info
              | We want to help you give your kids the tools to shape the world. Playing with Dinoby, they learn the basics of coding while having fun. Give your kids the opportunity to discover empowering software skills to make their ideas happen.
            p.reasons-info
              | Do you still have any doubts? Just listen to the experts:
            button.simple-button.js-video-selector(data-target='#mark')
              i.fa.fa-youtube-play
              | Mark Zuckerburg teaches Repeat Loops
            button.simple-button.js-video-selector(data-target='#obama')
              i.fa.fa-youtube-play
              | President Obama asks America to learn computer science
            button.simple-button.js-video-selector(data-target='#bill')
              i.fa.fa-youtube-play
              | Bill Gates explains If statements
          .videos-container
            iframe#mark.reasons-video(width="500" height="350" src="https://www.youtube.com/embed/mgooqyWMTxk?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen)
            iframe#obama.reasons-video.video-hidden(width="500" height="350" src="https://www.youtube.com/embed/6XvmhE1J9PY?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen)
            iframe#bill.reasons-video.video-hidden(width="500" height="350" src="https://www.youtube.com/embed/m2Ux2PnJe6E?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen)

    #preorder.section.section--preorder.section--common.section--top-decoration
      h1.headline
        | PRE-ORDER
      .preorder-content.section-content--vertical
        p.preorder-info
          | Leave your email and get Dinoby first!
          p.preorder-success
            | Thanks for you interest in Dinoby! We'll keep you posted
          p.preorder-error
            | Ooops, there was an error! Please contact us at info@dinoby.io
        form.preorder-form
          input.preorder-input.preorder-text(type='email' placeholder='E-mail')
          input.preorder-input.preorder-submit(type='submit' value='send')
      .footer
        .contact-info
          h1.contact-headline
            | We'd love to hear from you!
          h2.contact-sub-headline
            | For more information contact us at info@dinoby.io
        .footer-info
          .social-container
            a.social-icon(href='https://www.facebook.com/dinobygame')
              i.fa.fa-facebook
            a.social-icon(href='https://www.linkedin.com/company/dinoby')
              i.fa.fa-linkedin-square
          img.footer-logo(src='assets/logo_footer.png')
    // inject:js
    // endinject
