@font-face {
    font-family: 'Gotham';
    font-weight: 300;
    src: url("../fonts/GOTHAM-LIGHT.TTF");
}

@font-face {
    font-family: 'Gotham';
    font-weight: 400;
    src: url("../fonts/GOTHAM-MEDIUM.TTF");
}

@font-face {
    font-family: 'Gotham';
    font-weight: bold;
    src: url("../fonts/GOTHAM-ULTRA.TTF");
}

* {
  font-family: 'Gotham', Tahoma;
  outline: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

.navbar {
  padding: 0 80px;
  height: 80px;
  background: white;
  box-shadow: 0 -10px 20px 2px $black;

  .navbar-img {
    height: 36px;
    margin: 22px 0;
  }

  .navbar-nav {
    height: 80px;

    a {
      line-height: 80px;
      padding: 0 20px;
      color: $light-blue;

      &:hover {
        background: $white;
        color: darken($light-blue, 10%);
      }

      &.special {
        height: 40px;
        background: $light-violet;
        border-radius: 5px;
        margin: 20px;
        line-height: 40px;
        color: $white;

        &:hover {
          background: darken($light-violet, 10%);
        }
      }
    }
  }
}

.button {
  border-radius: 5px;
  font-size: 24px;
  height: 50px;
  line-height: 40px;
  margin: 0;
  min-width: 210px;
  padding: 0 105px;
  text-transform: uppercase;
}

.headline {
  color: $violet;
  font-size: 36px;
  margin-bottom: 0;
  margin-top: 120px;
  text-align: center;
  font-weight: bold;
}

// .side-navigation {
//   height: 172px;
//   margin-left: 20px;
//   position: fixed;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 24px;
//
//   .side-link-container {
//     height: 24px;
//     margin: 20px auto;
//     position: relative;
//     text-align: center;
//   }
//
//   .side-link {
//     background: $super-light-violet;
//     border: 1px solid $violet;
//     border-radius: 100%;
//     box-sizing: border-box;
//     display: inline-block;
//     height: 16px;
//     margin: 4px 0;
//     transition: width 0.5s, height 0.5s, margin 0.5s;
//     width: 16px;
//
//     &.current-link {
//       height: 24px;
//       margin: 0;
//       transition: width 0.5s, height 0.5s, margin 0.5s;
//       width: 24px;
//     }
//   }
//
//   .side-tooltip {
//     background: $super-light-violet;
//     border-radius: 4px;
//     color: $violet;
//     font-size: 12px;
//     left: calc(100% + 10px);
//     opacity: 0;
//     padding: 2px 10px;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     transition: opacity 1s;
//   }
// }

// .side-link:hover ~ .side-tooltip {
//   opacity: 1;
//   transition: opacity 1s;
// }

.button--fill {
  background: $light-violet;
  border: 0;
  color: $white;
  font-weight: bold;

  &:hover {
    background: darken($light-violet, 5%);
  }
}

.section {
  height: 100vh;
}

.section--header {
  align-items: center;
  background: $light-blue;
  display: flex;
  justify-content: space-around;

  .brand-logo {
    margin-bottom: 20px;
  }

  .header-headline {
    color: $white;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 0;
    max-width: 600px;
    font-weight: bold;
  }

  .header-sub-headline {
    color: $white;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 40px;
    margin-top: 0;
    max-width: 600px;
    font-weight: 300;
  }

  .preorder-button {
    margin-bottom: 20px;
  }

  .app-image:not(:last-child) {
    margin-right: 10px;
  }
}

.section--common {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section-content--common {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  position: relative;
}

.section-content--vertical {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
}

.section--features {
  background: $white;
}

.feature-image {
  margin-right: 80px;
  opacity: 1;
  transition: opacity 1s;

  &.feature-img-hidden {
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 1s;
  }
}

.feature-info {
  margin-top: 0;
  max-width: 400px;
  opacity: 1;
  transition: opacity 1.5s;

  &.feature-info-hidden {
    margin-top: -50px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: margin-top 1s, opacity 0.5s;
  }

  .feature-info-headline {
    color: $violet;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .feature-info-p {
    color: $light-violet;
    font-size: 30px;
    padding-top: 10px;
  }
}


.section--reasons {
  background: $light-violet;

  .headline {
    color: $white;
  }

  .info-container {
    margin-right: 80px;
    max-width: 600px;

    .reasons-info {
      color: $super-light-violet;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 40px;
      }
    }

    .simple-button {
      background: transparent;
      border: 0;
      color: $light-yellow;
      cursor: pointer;
      font-family: 'Varela Round', sans-serif;
      font-size: 20px;

      &:hover {
        color: darken($light-yellow, 10%);
      }

      i {
        margin-right: 10px;
      }
    }
  }

  .videos-container {
    position: relative;
  }

  .reasons-video {
    opacity: 1;
    transition: opacity 2s;

    &.video-hidden {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: opacity 2s;
    }
  }
}

.section--demo {
  background: $light-violet;

  .demo-container{
    margin-top: 145px;

    .headline {
      color: $white;
      margin-top: 0px;
    }

    .info-container {
      max-width: 600px;

      .data-row:first-child {
        margin-bottom: 20px;
      }

      .data-row {
        width: 100%;
        font-size: 0;
        min-width: 360px;
        display: block;

        .number, .content {
          height: 100%;
          display: inline-block;
          vertical-align: middle;
          font-size: 0;
        }

        .number {
          width: 15%;
          span {
            font-size: 60px;
            color: white;
          }
        }

        .content {
          min-width: 360px;
          width: 85%;
          font-size: 20px;
          color: white;
          text-align: center;
          .apps-container {
            margin-top: 10px;
            .app-image:not(:last-child) {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.section--preorder {
  background: $white;
}

.preorder-content {
  height: calc(100% - 150px);
  width: 100%;
}

.preorder-info {
  color: $light-violet;
  font-size: 30px;
  margin-bottom: 80px;
  max-width: 700px;
  text-align: center;
  font-weight: bold;
}

.preorder-success {
  color: $light-violet;
}

.preorder-error {
  color: $red;
}

.preorder-success, .preorder-error {
  font-size: 15px;
  max-width: 700px;
  text-align: center;
  font-weight: bold;
  display: none;
}

.preorder-form {
  font-size: 0;
  text-align: center;
  width: 100%;
}

.preorder-input {
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.preorder-text {
  background: transparent;
  border: 1px solid $light-violet;
  color: $light-violet;
  margin-right: 10px;
  max-width: 450px;
  width: calc(100% - 200px);
}

.preorder-submit {
  background: $light-violet;
  border: 0;
  color: $white;
  line-height: 50px;
  padding: 0 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

.footer {
  align-items: center;
  background: $light-blue;
  display: flex;
  height: 150px;
  justify-content: space-between;
  padding: 20px 80px;
  width: 100%;
}

.footer-info {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.contact-headline {
  color: $violet;
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 10px;
  font-weight: bold;
}

.contact-sub-headline {
  color: $white;
  font-size: 22px;
  margin: 0;
  font-weight: 300;
}

.social-icon {
  border: 1px solid transparent;
  background: $violet;
  border-radius: 100%;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  text-align: center;
  width: 30px;

  &:hover {
    color: $violet;
    border: 1px solid $violet;
    background: transparent;
  }
}
